h1 {
    color: white;
    font-size: 36px;
    font-family: Arial;
}

h2 {
    color: teal;
}
#name {
    background-color: teal;
    width: 33%;
    text-align: center;
}

nav  {
    background-color: white;
    width: 50%;
    padding: 20px;
}

#links {
    text-align: right;
    font-size: 24px;

}

img {
    float: left;
}

#about {
    background-color: white;
}

.button {
    background-color: teal;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

body {
    background-color: lightgrey;
}

.container {
    background-color: #fff;
    width: 960px;
}

input {
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

a {
    background-color: #fff;
}

footer {
    background-color: #ccc;
    clear: both;
    padding: 20px;
}